.about{
    text-align: center;
    font-size: 50px;
}
.white
{
    width:400px;
    height: 120px;
    position:relative;
    left: 37%;
}
.who{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: calibri;
}
.carousel
{
    background-image: url(https://www.themeatman.co.uk/pub/media/catalog/product/s/h/shutterstock_1023416758.jpg);
    background-repeat: no-repeat;
    padding: 150px;
    position: relative;
    bottom: 37px;
}
.head
{
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
}