.nav{
    background-color: rgb(255, 72, 0);
}
.page a{
    color: #ffffff;
    padding-right:20px;
}
.page a:hover{
    color: #3700ff;
}
.black
{
    position: relative;
    right: 15%;
}
ul{
    font-size: 36px;
    list-style-type: none; 
}
li{
    padding-bottom: 20px;
}
.title{
    font-size: 48px;
}
.canvas{
    background-color: rgba(31, 30, 30, 0.644);
    color: white;
    font-family: 'cheap pine';
    width:200px ;
}